<li class="comment" id="comment-<%= comment._id %>">
    <!-- Display the comment author's name in bold -->
    <b>
      <%= comment.user.name %>
    </b>
    <!-- Display delete link for the comment if the user is authenticated and the comment belongs to the user -->
    <% if ((locals.user) && ((locals.user.id == comment.user.id) || (locals.user.id == post.user.id))) { %>
      <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">X</a>
    <% } %>
    <br>
    <!-- Display the comment content -->
    <%= comment.content %>
    <p>
      <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%= comment.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= comment.likes.length %> Likes
        <% } %>
    </small>
    </p>
    </li>
