<li class="post mini-container" id="post-<%= post.id %>">
    <p>
      <!-- Display delete link for the post if the user is authenticated and the post belongs to the user -->
      <% if ((locals.user) && (locals.user.id == post.user.id)) { %>
        <a href="/posts/destroy/<%= post.id %>" class="delete-post-button" >X</a>
      <% } %>
      <!-- Display the post author's name -->
      <%= post.user.name %> <hr>
      <!-- Display the post content -->
      <%= post.content %>
    </p>
    <P>
      <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= post.likes.length %> Likes
        <% } %>
    </small>
    </P>

    <div class="post-comments">

      <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>" class="comments-list">
          <% for (comment of post.comments) { %>
            <!-- Include a partial template for each comment -->
            
            <%- include('_comment') -%>
          <% } %>
        </ul>
      </div>

      <!-- Display comment form if the user is authenticated -->
      <% if (locals.user) { %>
        <form action="/comments/create" method="post" class="comment-form" id="post-<%= post._id %>-comments-form">
          <!-- Input field for entering a new comment -->
          <input type="text" name="content" placeholder="Write a comment.." required class="comment-input">
          <!-- Hidden field to store the post's ID to which the comment is related -->
          <input type="hidden" name="post" value="<%= post._id %>">
          <!-- Submit button for adding a new comment -->
          <input type="submit" value="Add Comment" class="comment-btn">
        </form>
      <% } %>

      
    </div>
</li>
